/* Reset default browser styles */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Climate+Crisis&family=DynaPuff:wght@400..700&family=Honk&family=Kablammo&family=Nabla&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #333;
}

nav {
    background-color: #257aca;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    max-height: 75px; 
    height: 7.5vw;
}
nav ul li {
    /* margin-left: 20px; */
    margin-left: 2vw;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: color 0.3s, text-decoration 0.3s;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: black;
}

main {
    flex: 1;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #257aca;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #257aca;
    color: white;
}

img {
    width: 100px;
    height: auto;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0;
    }
}