/* Reset default browser styles */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Climate+Crisis&family=DynaPuff:wght@400..700&family=Honk&family=Kablammo&family=Nabla&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

nav {
    background-color: #257aca;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    max-height: 75px; 
    height: 7.5vw;
}
nav ul li {
    /* margin-left: 20px; */
    margin-left: 2vw;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}



nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: color 0.3s, text-decoration 0.3s;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: black;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #257aca;
}

.dog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.dog-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dog-card img {
    width: 100%;
    height: 300px; /* Increased height for the images */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    border-radius: 5px;
    margin-bottom: 10px;
}

.dog-info {
    flex-grow: 1;
}

.dog-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #257aca;
}

.dog-info p {
    margin: 5px 0;
    color: #666;
}

.price {
    color: #257aca;
    font-weight: bold;
    margin-top: 10px;
}

.remove-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 100%;
}

.remove-button:hover {
    background-color: #c0392b;
}

@media (max-width: 768px) {
    .dog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .dog-grid {
        grid-template-columns: 1fr;
    }
}